html
{
    overflow-x: hidden;

    height: 100%;
}

body
{
    font-family: 'Courier New', monospace;
    font-size: 16px;

    width: 960px;
    height: 100%;
    margin: 0 auto;

    color: #fff;
    background-color: #556270;
}

p
{
    margin: 20px 0;
}

a
{
    text-decoration: none;

    color: inherit;
}

a:hover
{
    text-decoration: underline;
}

select,
input,
button
{
    font-family: inherit;
}

select
{
    width: 100%;
    height: 30px;
}

input[type='submit'],
button
{
    display: block;

    padding: 5px 15px;

    cursor: pointer;

    color: #556270;
    border: 1px solid #556270;
    background: none;
}

input[type='submit']:hover,
button:hover
{
    color: #fff;
    background-color: #556270;
}

th,
td
{
    padding: 0;
}

/* *** */

.panel_logo
{
    position: absolute;
    right: 50px;
    bottom: 100px;

    width: 150px;
    height: 150px;

    background-image: url(/images/gedeon-logo.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
}

/* *** */

main
{
    height: 100%;
}

/* *** */

.navigation_main
{
    float: left;

    width: 160px;
}

.navigation_main ul
{
    display: block;

    margin: 0 auto;
    padding: 35px 0;

    list-style: none;

    text-align: left;
}

.navigation_main li
{
    cursor: default;
}

.navigation_main li:hover
{
    text-decoration: underline;
}

.navigation_main a
{
    display: block;

    cursor: pointer;
}

.navigation_main a:hover
{
    color: #000;
    background-color: #fff;
}

.navigation_main a > span
{
    transition: none;
}

.navigation_main span
{
    line-height: calc(20px + 20px + 18px);

    display: block;

    padding-left: 20px;

    transition: .1s;

    border-right: 0 solid #fff;
}

.navigation_main span:hover
{
    text-decoration: underline;

    border-right: 10px solid #fff;
}

/* *** */

.purport_main
{
    position: relative;

    float: right;

    width: calc(800px);
    height: calc(100% - 50px);

    color: #000;
    border-radius: 0 0 0 10px;
    background-color: #fff;
}

.purport_main::after
{
    position: absolute;
    top: 0;
    left: 100%;

    width: 100%;
    height: 100%;

    content: '';

    border-left: 1px dashed #f7f7f7;
    background-color: #fff;
}

.purport_main__wrapper
{
    padding: 35px;
}

/* *** */

.footer_main
{
    position: absolute;
    bottom: 0;

    width: 960px;
    height: 50px;
}

.footer_main p
{
    cursor: default;
    text-align: right;
}

/* *** */

.table_director
{
    position: relative;
    z-index: 1;

    width: 100%;

    border-collapse: collapse;

    text-align: left;
}

.table_director tr:first-of-type
{
    border-bottom: 5px solid #fff;
}

.table_director th
{
    font-weight: normal;

    color: #fff;
    background-color: #556270;
}

.table_director td,
.table_director th,
.table_director img,
.table_director input[type="image"]
{
    line-height: 35px;

    height: 35px;

    vertical-align: middle;
}

.table_director__icon
{
    width: 30px;

    text-align: center;
}

.table_director td:first-of-type,
.table_director th:first-of-type
{
    padding-right: 10px;
    padding-left: 15px;
}

.table_director__button
{
    padding-right: 15px;
}

.table_director th:first-of-type img,
.table_director td:first-of-type img
{
    width: 25px;
}

.table_director__button img
{
    width: 15px;
}

th.table_director__button a:hover
{
    background-color: rgba(255, 255, 255, .1);
}

td.table_director__button a:hover,
.table_director input[type="image"]:hover
{
    background-color: rgba(85, 98, 112, .1);
}

.table_director tr:nth-of-type(odd)
{
    background-color: #f7f7f7;
}

.table_director a,
.table_director input[type="image"]
{
    display: block;
}

.table_director input[type="image"] {
    padding: 10px;
    box-sizing: border-box;
}

/* *** */

.add_element
{
    padding: 35px;
}

.add_element label
{
    display: inline-block;

    width: 250px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.add_element span
{
    display: block;

    margin-bottom: 5px;
}

.add_element input[type='text']
{
    width: 100%;
    height: 24px;

    border: 1px solid #a6a6a6;
    border-radius: 5px;
}
